<div class=" content">
  <h4>
    Cancela listar
  </h4>

  <table class="table table-striped">
    <tr>
      <th>ID Usuário</th>
      <th>ID Passagem</th>
      <th>Data cancelamento</th>
      <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let cancela of cancelamentos">
        <td>{{cancela.guidUsuario}}</td>
        <td>{{cancela.guidPassagem}}</td>
        <td>{{cancela.dataCancelamento}}</td>
        <td><button class="btn" (click)="detail(cancela)">Detalhes</button></td>
      </tr>   
  </table>

</div>