<div class=" content">
  <div class=" row">
    <div class=" col-md-11">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Encontrar embarque</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Token do checkin </label>
                  <input class=" form-control" name="token" type="number" [(ngModel)]="token" />
                </div>
              </div>
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <br>
                  <button class="btn btn-sm btn-danger btn-simple active" (click)="encontrarEmbarque(token)">Validar <i
                      class=" tim-icons icon-check-2"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Lista de embarques</h4>
          <p class=" category">Aqui está listado todos os embarques que estão ativos.</p>
        </div>
        <div class=" card-body">
          <div>
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Token Checkin</th>
                  <th>Passageiro</th>
                  <th>Data do embarque</th>
                  <th>Passageiro Embarcado</th>
                </tr>
                <tr *ngFor="let embarque of embarques">
                  <td>{{embarque.guidCheckin}}</td>
                  <td>{{embarque.passageiro}}</td>
                  <td>{{embarque.dataEmbarque}}</td>
                  <td>{{embarque.embarcouIdf}}</td>
                  <button class="btn btn-sm btn-danger btn-simple active" (click)="finalizar(embarque)"><i
                      class=" tim-icons icon-check-2"></i> Finalizar</button>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>