
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Editar Usuario</h5></div>
        <div class=" card-body">
          <form id="formUsuario" (ngSubmit)="salvar()">
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" name="nome" placeholder="Digite seu nome" [(ngModel)]="usuario.nome"
                  required>
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Digite seu email" [(ngModel)]="usuario.email"
                    required>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label for="nome">CPF</label>
                  <input type="text" class="form-control" name="CPF" placeholder="Digite seu CPF" [(ngModel)]="usuario.cpf"
                  required>
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label for="email">Data de Nascimento</label>
                  <input type="date" class="form-control" name="data" [(ngModel)]="usuario.dataNasc"
                    required>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label for="nome">Perfil</label>
                <div>
                    <select [(ngModel)]="usuario.perfil.guidTipoPerfil" name="Tipoperfil" class="form-control" > 
                      <option *ngFor="let perfil of perfis" style = "background-color: #27293D;"value= {{perfil.guidTipoPerfil}}>
                        {{perfil.descricao}}
                      </option>
                    </select> 
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

              <h5 class=" title" [(ngModel)]="usuario.nome">Leo</h5>
            </a>
            <p class=" description">Ceo/Co-Founder</p>
          </div>
          <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth And I love you like Kanye loves Kanye I love
            Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
