<div class="content">
  <div class="card">
    <div class="card-header">
      <h2>Remarcação de passagem</h2>
    </div>
    <div class="card-body">
      <p class="card-text">Nome passageiro > {{passagem.nomePassageiro}}</p>
      <p class="card-text">Origem > {{passagem.origem}}</p>
      <p class="card-text">Destino > {{passagem.destino}}</p>
      <p class="card-text">Preço > R$ {{passagem.valorPassagem}}</p>
      <p class="card-text">Data de partida anterior > {{passagem.dataPartida | date: 'dd/MM/yyyy'  }}</p>
      <div class="form-group">
        <p class="card-text">Nova data de partida</p>
        <input type="date" class="form-control" [(ngModel)]="dataNova">
      </div>
      <p class="card-text">Status checkin > Checkin ainda não efetuado</p>
      <button class="btn btn-primary" (click)="save()">Remarcar passagem</button>
      <button class="btn btn-info">Voltar</button>
    </div>
  </div>
</div>