<div class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        Alteração de passagem <span class="badge badge-warning">Atenção</span></h3>
      <p>Passagem com partida de {{passagem.origem}} com destino para {{passagem.destino}}</p>
      <p>Passageiro > {{passagem.nomePassageiro}}</p>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Cancelar passagem</h3>
          <p class="card-text">Uma vez que uma passagem cancelada não poderá ser desfeita a ação.</p>
          <a class="btn btn-primary" (click)="cancelar()">Ir a cancelamento</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Remarcar passagem</h3>
          <p class="card-text">Apenas remarcar data de partida. Para alterar o destino deverá cancelar a passagem e
            inicar uma nova.</p>
          <a class="btn btn-primary" (click)="remarcar()">Ir a remarcação</a>
        </div>
      </div>
    </div>
  </div>
</div>