#conteudo-principal{
    margin-top: 2%;
}

#formulario-pagamento{
    background-color: rgba(245, 245, 245, 0.856);
    border-radius: 7px;
    padding: 2%;
}
p{
    color: #525f7f;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}