<div class="content">
  <div class="card">
    <div class="card-header">
      <h2>Cancelamento</h2>
    </div>
    <div class="card-body">
      <!--<h5 class="card-title">Deseja realmente cancelar esta passagem?</h5>-->
      <p class="card-text">Nome do passageiro > {{passagem.nomePassageiro}} </p>
      <p class="card-text">ID Passagem > {{passagem.guidPassagem}}</p>
      <p class="card-text">Origem > {{passagem.origem}}</p>
      <p class="card-text">Destino > {{passagem.destino}}</p>
      <p class="card-text">Valor passagem > R$ {{passagem.valorPassagem}}</p>
      <p class="card-text">Status do checkin > Ainda não efetuado</p>
      <div class="form-group">
        <textarea name="motivo" class="form-control" cols="30" rows="10"
          placeholder="Conte-nos um pouco sobre o motivo do cancelamento"
          [(ngModel)]="cancela.motivoCancelamento"></textarea>
      </div>
    </div>
  </div>
  <td><button class="btn btn-primary" (click)="salvar()">Cancelar</button></td>
</div>