<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <h3>Reserva</h3>
                            <div>Numero de Reservas</div>
                            <h3 class="card-title">50
                                <small></small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">Viagem</i>
                            </div>
                            <p class="card-category">Proxima viagem</p>
                            <h3 class="card-title">27/12/2019</h3>
                        </div>
      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">info</i>
                          </div>
                          <p class="card-category">Maps in authentication</p>
                          <h3 class="card-title">15</h3>
                      </div>
                  </div>
              </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">warning</i>
                            </div>
                            <p class="card-category">Maps with Issues</p>
                            <h3 class="card-title">5</h3>
                        </div>
                    </div>
                </div>
      
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title"></h4>
                            <div class="card-icon">
                              <i><h3>Passagens do Carrinho</h3></i>
                          </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th></th>
                                    <th>Origem</th>
                                    <th>Destino</th>
                                    <th>Valor</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Curitiba</td>
                                        <td>Sao Paulo</td>
                                        <td>R$23,789</td>
                                        <td><button class="btn">-</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Minerva Hooper</td>
                                        <td>$23,789</td>
                                        <td>Curaçao</td>
                                        <td><button class="btn">-</button></td>
                                    </tr>
                                </tbody>  
                                <thead class="text-warning">
                                    <th>Total: R$1233</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <td><button class="btn" (click)="salvarPassagem()">Botao Teste Salvar Passagem</button></td>
        </div>
      </div>
      