<div class="content">
  <h4>
    Detalhes do cancelamento
  </h4>
  <table class="table table-striped">
    <tr>
      <th>ID </th>
      <th>ID Usuário</th>
      <th>ID Reserva</th>
      <th>ID Passagem</th>
      <th>Data cancelamento</th>
      <th>Motivo cancelamento</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
        <td>{{cancela.guidCancelar}}</td>
        <td>{{cancela.guidUsuario}}</td>
        <td>{{cancela.guidReserva}}</td>
        <td>{{cancela.guidPassagem}}</td>
        <td>{{cancela.dataCancelamento}}</td>
        <td>{{cancela.motivoCancelamento}}</td>
        <td><button class="btn btn-info btn-sm" (click)="deletar()">Deletar</button></td>
      </tr>   
  </table>
  <td><button class="btn btn-sm" (click)="back()">Voltar</button></td>

</div>