<div class="content">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Detalhes sobre o cancelamento</h4>
      <p class="card-text">ID: {{cancela.guidCancelar}}</p>
      <p class="card-text">ID Usuario: {{cancela.guidUsuario}}</p>
      <p class="card-text">ID Reserva: {{cancela.guidReserva}}</p>
      <p class="card-text">ID Pasagem: {{cancela.guidPassagem}}</p>
      <p class="card-text">Data cancelamento: {{cancela.dataCancelamento}}</p>
      <p class="card-text">Motivo: {{cancela.motivoCancelamento}}</p>
    </div>
  </div>
  <td><button class="btn btn-sm" (click)="back()">Voltar</button></td>
</div>
