<div class=" content">
  <h4>
    Cadastrar Voo
  </h4>
  <form id="formVoo" (ngSubmit)="salvar()">
    <div class="form-group">
      <label for="origem">Origem</label>
      <input type="text" class="form-control" name="origem" placeholder="Digite a origem do voo" [(ngModel)]="voo.origem"
        required>
    </div>
    <div class="form-group">
      <label for="destino">Destino</label>
      <input type="text" class="form-control" name="destino" placeholder="Digite o destino do voo" [(ngModel)]="voo.destino"
        required>
    </div>
    <div class="form-group">
      <label for="kmtotal">KM</label>
      <input type="number" class="form-control" name="kmtotal" placeholder="KM total" [(ngModel)]="voo.kmtotal"
        required>
    </div>
    <div class="form-group">
      <label for="datasaida">Data da Saida</label>
      <input type="datetime" class="form-control" name="datasaida" placeholder="Data da Saida" [(ngModel)]="voo.datasaida"
        required>
    </div>
    <div class="form-group">
      <label for="datachegada">Data da Chegada</label>
      <input type="datetime" class="form-control" name="datachegada" placeholder="Data da Chegada" [(ngModel)]="voo.datachegada"
        required>
    </div>
    <div class="form-group">
      <label for="duracao">Duração do voo</label>
      <input type="time" class="form-control" name="duracao" placeholder="Duracao" [(ngModel)]="voo.duracao"
        required>
    </div>
    <button type="submit" class="btn">Salvar</button>
  </form>

</div>